<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.undoing">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNdoing">
<!--        <meta-data-->
<!--            android:name="com.baidu.speech.APP_ID"-->
<!--            android:value="15590577"/>-->

<!--        <meta-data-->
<!--            android:name="com.baidu.speech.API_KEY"-->
<!--            android:value="q2uPyBe6LmWTZlvb0g1dzcHV"/>-->
<!--        <meta-data-->
<!--            android:name="com.baidu.speech.SECRET_KEY"-->
<!--            android:value="y7S7hAI894BB3LF1yHYmvQEus1B6wPvj"/>-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="24150135"/>

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="asCfwkWBB9DH2GUEFb1v51w0"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="bSzU3WQxn7p1mDKBtRq8Fp7d93902cjG"/>
        <activity android:name=".BookKeep"  android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".BillActivity"
            android:label="@string/title_activity_bill"
            android:theme="@style/Theme.UNdoing.NoActionBar" />
        <activity android:name=".RecommendList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>